<div class="main">
  <h1>Cré'agath </h1>

  <div class="bracelet-image"></div>

  <mat-form-field>
    <label for="">nombre de perles</label>
    <input matInput type="number" [(ngModel)]="pearlNumber" (input)="generateSVG()">
  </mat-form-field>

  <div class="pattern" cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)">
    @for (patternColor of pattern; track $index) {
      <app-pattern-color
      [color]="patternColor"
      (colorChange)="updateColor($index, $event)"
      (delete)="deleteColor($index)"
      cdkDrag
      ></app-pattern-color>
    }
  </div>
  
  <div class="actions">
    <button (click)="downloadSVG()" mat-fab aria-label="Example icon button with a delete icon">
      <mat-icon>download</mat-icon>
    </button>
    <button (click)="addColor()" mat-fab aria-label="Example icon button with a delete icon">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>